<div class="container-fluid">
  <div class="row pl-4 pr-4">
    <div class="col-12 col-md-6">
      <mat-form-field appearance="legacy" class="full-width">
        <mat-label>Search by project name, date, tags...</mat-label>
        <input #search autocomplete="off" matInput placeholder="Search by project name, date, tags...">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
  </div>
</div>
<mat-card class="pt-2 pb-2">
  <mat-card-title class="m-0">My Projects</mat-card-title>
  <small>{{totalCount}} in total</small>
  <i class="material-icons av-btn-add">add</i>
</mat-card>
<div class="container-fluid">
  <div class="p-md-4 pt-4">
    <div class="row">
      <div class="col-12 col-md-12 col-lg-6 mb-4" *ngFor="let projects of projectList">
        <mat-card>
          <div class="row bc-flex">
            <div class="col-12 col-sm-4">
              <img class="av-logo" src="../../../assets/img/logo.png"/>
            </div>
            <div class="col-12 col-sm-8">
              <div class="row">
                <div class="col-12 bc-cards-name mb-1">
                  <i class="material-icons av-icon-color">folder</i>
                  <span class="av-project-name pl-2">{{ projects.name }}</span>
                </div>
                <div class="col-12 pb-2">
                  <span class="badge badge-primary mr-2">{{projects.tags.group}}</span>
                  <span class="badge badge-secondary">
                    <i class="material-icons av-icon-tags">person</i>
                    {{projects.tags.user}}
                  </span>
                </div>
                <div class="col-12">
                  <label class="av-label small text-uppercase">Star / End Date</label>
                  <h5>{{projects.start}} to {{projects.end}}</h5>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <label class="av-label small text-uppercase">Estimated Cost</label>
                  <h5>{{projects.est_cost}}</h5>
                </div>
                <div class="col-6">
                  <label class="av-label small text-uppercase">Predicted Cost</label>
                  <h5>{{projects.predicted_cost}}</h5>
                </div>
              </div>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
    <div class="row" *ngIf="projectList.length == 0">
      <div class="col-12">
        <div class="alert alert-warning">
          Couldn't find what you're looking for
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-paginator #paginator [length]="totalCount" [pageSize]="4"
                       [showFirstLastButtons]="true"></mat-paginator>
      </div>
    </div>
  </div>
</div>
