@import "../../../assets/scss/base/variables";

.av {
  &-btn-add {
    position: absolute;
    right: 2%;
    background-color: $primary-color;
    color: white;
    border-radius: 50%;
    padding: 10px;
  }
  &-project-name {
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    position: relative;
    bottom: 5px;
  }
  &-icon-tags {
    font-size: 11px;
  }
  &-label {
    font-weight: 600;
    margin: 0;
    color: $xs-text-color;
  }
  &-logo {
    width: 150px;
    margin: 0 auto;
    display: block;
  }
}

h5 {
  @media screen and (max-width: 480px) {
    font-size: 16px;
  }
}
