body {
  .mat-sidenav {
    transition: 0.5s all;
    background-color: $primary-color;
  }

  .badge {
    &-primary {
      background: $primary-color;
    }
  }
  .mat-card-title {
    font-weight: 600;
  }
  .mat-nav-list .mat-list-item {
    color: white;
  }
}
