$icon-color: #ceb888;
$primary-color: #009e8e;
$bg-color: #fbfbfb;
$xs-text-color: #7d878f;

.av-icon-color {
  color: $icon-color;
}

.av-bg-pr-color {
  background-color: $primary-color;
}

.small-text-color {
  color: $xs-text-color;
}
