<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="side" class="sidenav" [ngStyle]="{ 'width.em': sidenavWidth }" opened="true" (mouseenter)="expand()"
              (mouseleave)="collapse()">
    <div class="p-3 text-uppercase av-user">
      <span *ngIf="sidenavWidth > 6" class="text-uppercase text-nowrap">Hi, Robinson</span>
    </div>
    <mat-nav-list>
      <mat-list-item class="av-search" routerLink="1" routerLinkActive="active" >
        <i class="material-icons av-t-white">search</i>
        <div fxFlex="10"></div>
        <div *ngIf="sidenavWidth > 6" class="sidenav-item">
          <input class="globalSearch" type="text" placeholder="Search" />
        </div>
      </mat-list-item>
      <mat-list-item class="logout" routerLink="1" >
        <i class="material-icons av-t-white">exit_to_app</i>
        <div fxFlex="10"></div>
        <div *ngIf="sidenavWidth > 6" class="sidenav-item">
          <h5 class="menu-item">Logout</h5>
        </div>
      </mat-list-item>
    </mat-nav-list>

  </mat-sidenav>

  <div class="main-container">
    <router-outlet></router-outlet>
  </div>


</mat-sidenav-container>
