.main-container {
  background: #fbfbfb;
  height: 100vh;
}

.menu-item {
  font-family: Lato;
  padding-left: 10px;
  position: relative;
  top: 3px;
}

.logout {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.globalSearch {
  background: transparent;
  border: 0;
  outline: 0;
  color: white;
}

::placeholder {
  color: white;
  opacity: 1;
}

.av {
  &-search {
    background-color: #29aea0;
  }
  &-user {
    text-align: center;
    color: white;
  }
}

